<a href="https://colab.research.google.com/github/ququlza/Database/blob/main/Final_project_db_create.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import sqlite3 as sl
con = sl.connect('db.db')

In [ ]:
with con:
  con.execute('''
  CREATE TABLE `user` (
	`id`	Integer	NOT NULL primary key autoincrement,
	`name`	text	NULL,
	`address`	text	NULL,
	`telnum`	string	NULL,
	`enroll_date`	text	NULL
);
  ''')

In [ ]:
with con:
  con.execute('''
CREATE TABLE `seller` (
	`id`	integer	NOT NULL primary key autoincrement,
	`user_id`	integer	NOT NULL,
  FOREIGN KEY (user_id)
       REFERENCES user (id)
);
  ''')

In [ ]:
with con:
  con.execute('''
CREATE TABLE `customer` (
	`id`	integer	NOT NULL primary key autoincrement,
	`user_id`	integer	NOT NULL,
  FOREIGN KEY (user_id)
       REFERENCES user (id)
);
  ''')

In [ ]:
with con:
  con.execute('''
CREATE TABLE `payment` (
	`id`	integer	NOT NULL primary key autoincrement,
	`payment`	integer	NULL,
	`discount`	integer	NULL
);
  ''')

In [ ]:
with con:
  con.execute('''
CREATE TABLE `delivery` (
	`id`	integer	NOT NULL primary key autoincrement,
	`status`	text	NULL,
	`city`	text	NULL,
	`street`	text	NULL,
	`zipcode`	text	NULL
);
  ''')

In [ ]:
with con:
  con.execute('''
CREATE TABLE `orders` (
	`id`	integer	NOT NULL primary key autoincrement,
	`customer_id`	integer	NOT NULL,
	`delivery_id`	integer	NOT NULL,
	`payment_id`	integer	NOT NULL,
	`is_delete`	integer	NULL,
  FOREIGN KEY (customer_id)
       REFERENCES customer (id),
  FOREIGN KEY (payment_id)
       REFERENCES payment (id),
  FOREIGN KEY (delivery_id)
       REFERENCES delivery (id)
);
  ''')

In [ ]:
import pandas as pd
cur = con.cursor()

cur.execute("SELECT * FROM orders")

rows = cur.fetchall()

cols = [column[0] for column in cur.description]

data_df = pd.DataFrame.from_records(data=rows, columns=cols)

data_df

Empty DataFrame
Columns: [id, customer_id, delivery_id, payment_id, is_delete]
Index: []

In [ ]:
with con:
  con.execute('''
CREATE TABLE `item_category` (
	`id`	integer	NOT NULL primary key autoincrement,
	`name`	text	NULL
);
  ''')

In [ ]:
with con:
  con.execute('''
  CREATE TABLE `item` (
	`id`	integer	NOT NULL primary key autoincrement,
	'name' text NULL,
	`price`	integer	NULL,
	`stock`	integer	NULL,
	`seller_id`	integer	NOT NULL,
	`category_id`	integer	NOT NULL,
	`is_delete`	integer	NULL,
  foreign key (seller_id) references seller (id),
  foreign key (category_id) references item_category (id)
);
  ''')

In [ ]:
cur = con.cursor()

cur.execute("SELECT * FROM item")

rows = cur.fetchall()

cols = [column[0] for column in cur.description]

data_df = pd.DataFrame.from_records(data=rows, columns=cols)

data_df

Empty DataFrame
Columns: [id, name, price, stock, seller_id, category_id, is_delete]
Index: []

In [ ]:
with con:
  con.execute('''
  CREATE TABLE `order_item` (
	`id`	integer	NOT NULL primary key autoincrement,
	`order_id`	integer	NOT NULL,
	`item_id`	integer	NOT NULL,
	`count`	integer	NULL,
	`price`	integer	NULL,
  foreign key (order_id) references orders (id),
  foreign key (item_id) references item (id)
);
  ''')

In [ ]:
# with con:
#   con.execute('''
#   CREATE TABLE `error` (
# 	`id`	integer	NOT NULL primary key autoincrement,
# 	`user_id`	integer	NOT NULL,
# 	`error_date`	text	NULL,
# 	`message`	text	NULL,
# 	`exception`	text	NULL,
# 	`ip_address`	text	NULL,
#   foreign key (user_id) references user (id)
# );
#   ''')

In [ ]:
# with con:
#   con.execute('''
#   CREATE TABLE `history` (
# 	`id`	integer	NOT NULL primary key autoincrement,
# 	`user_id`	integer	NOT NULL,
# 	`history_date`	text	NULL,
# 	`what`	text	NULL,
# 	`what_id`	integer	NULL,
# 	`name`	text	NULL,
# 	`operation`	text	NULL,
# 	`content`	text	NULL,
# 	`undodate`	text	NULL,
# 	`create_on`	text	NULL,
# 	`create_by`	integer	NULL,
# 	`change_on`	text	NULL,
# 	`change_by`	integer	NULL,
#   foreign key (user_id) references user (id)
# );
#   ''')

In [ ]:
with con:
  con.execute('''
  CREATE TABLE `activity_log` (
	`id`	integer	NOT NULL primary key autoincrement,
	`user_id`	integer	NOT NULL,
	`log_date`	text	NULL,
	`activity`	text	NULL,
	`result`	text	NULL,
  foreign key (user_id) references user (id)
);
  ''')

In [ ]:
with con:
  con.execute('''
  CREATE TABLE `cpu` (
	`id`	integer	NOT NULL primary key autoincrement,
	`item_id`	integer	NOT NULL,
	`manufacturing`	text	NULL,
	`clock`	integer	NULL,
	'model_name' text NULL,
	`is_delete`	integer	NULL,
  foreign key (item_id) references item (id)
);
  ''')

In [ ]:
with con:
  con.execute('''
  CREATE TABLE `gpu` (
	`id`	integer	NOT NULL primary key autoincrement,
	`item_id`	integer	NOT NULL,
	`manufacturing`	text	NULL,
  'chipset' text NULL,
  'model_name' text NULL,
	`is_delete`	integer	NULL,
  foreign key (item_id) references item (id)
);
  ''')

In [ ]:
with con:
  con.execute('''
  CREATE TABLE `memory` (
	`id`	integer	NOT NULL primary key autoincrement,
	`item_id`	integer	NOT NULL,
	`manufacturing`	text	NULL,
	`capacity`	integer	NULL,
	'model_name' text NULL,
	`is_delete`	integer	NULL,
  foreign key (item_id) references item (id)
);
  ''')

In [ ]:
with con:
  con.execute('''
  CREATE TABLE `power` (
	`id`	integer	NOT NULL primary key autoincrement,
	`item_id`	integer	NOT NULL,
	`manufacturing`	text	NULL,
	`wattage`	integer	NULL,
	`is_delete`	integer	NULL,
  foreign key (item_id) references item (id)
);
  ''')

In [ ]:
res = con.execute('SELECT name FROM sqlite_master WHERE type IN ("table", "view") AND name NOT LIKE "sqlite_%" UNION ALL SELECT name FROM sqlite_temp_master WHERE type IN ("table", "view") ORDER BY 1;')
for row in res:
  print(row)

('activity_log',)
('cpu',)
('customer',)
('delivery',)
('gpu',)
('item',)
('item_category',)
('memory',)
('order_item',)
('orders',)
('payment',)
('power',)
('seller',)
('user',)