<a href="https://colab.research.google.com/github/ququlza/Database/blob/main/week9_homework.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
r_set = my_conn.execute('''select courseid, decode(name, null, name, '-') as name
from teach natural left outer JOIN instructor
WHERE semester = 'spring' ''')
for row in r_set:
  print(row)

In [ ]:
wr_set = my_conn.execute('''select dept_name, count(name) as 'instructor coutnt'
from instructor
group by dept_name''')
for row in r_set:
  print(row)